@charset "utf-8";

/* ヘッダー周り */
header{
    position:fixed;
    display:flex;
    height:45px;
}
.title{
    position:fixed;
    top: 0;
    left: 0;
    margin-top:0px;
    background-color:skyblue;
    color:white;
    width:100%;
}
.title a{
    color:white;
    text-decoration:none;
}

/* 小見出し */
.subtitle{
    text-align:center;
    margin-top:80px;
}

/* 表示画面 */
.box{
    margin-top:60px;
    text-align:center;
    font-size:16px;
}
.submit{
    width:120px;
    height:30px;
    font-size:15px;
    border-radius:5%;
    background-color:skyblue;
    color:white;
    border:none;
}

/* ハンバーガーメニュー */
.btn{
    position:fixed;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    z-index: 9;
}
.btn i{
    position: absolute;
    left: 5px;
    width: 40px;
    height: 2px;
    background-color: white;
    transition: .5s;
}
.btn i:nth-of-type(1){
    top: 16px;
}
.btn i:nth-of-type(2){
    top: 26px;
}
.btn i:nth-of-type(3){
    top: 36px;
}
.btn.active i:nth-of-type(1){
    transform: translateY(10px) rotate(45deg);
}
.btn.active i:nth-of-type(2){
    opacity: 0;
}
.btn.active i:nth-of-type(3){
    transform: translateY(-10px) rotate(-45deg);
}
.block{
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    color: black;
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}
.block.active{
    opacity: 1;
    pointer-events: auto;
}
.list{
    position: absolute;
    top: 60px;
    left: 20px;
    font-size: 30px;
}
.list ul{
    list-style: none;
    padding: 0px;
}
.list li{
    padding: 0px 0px 0px 30px;
    line-height: 10px;
} 
.list ul{
    list-style:none;
}
h5{
    margin-bottom:0px;
}
.list ul h5 a{
    color:black;
    text-decoration:none;
}
@media screen and (min-width: 767px){
    
}